
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color: black;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
/*---------------*/
.menu{
    display: flex;
    background: #222222;
    width: 1600px;
    height: 75px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 860px ;
}

.leftmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 230px; */
    /* width: 110px;
    max-height: 30px; */
    gap: 40px;
}

.rightmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 26px;
    padding-bottom: 20px;
    padding-right: 240px; */
    /* width: 160px;
    max-height: 30px; */
    gap: 40px;
}

.numbercart{
    background-image: url(./img/Ellipse\ 2.svg);
    position: relative;
    width: 19px;
    height: 19px;
    top: -15px;
    right: 50px;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8F8F8;
}

.maincontainer{
    display: flex;
    background: #F1E4E6;
    width: 1600px;
    /* height: 764px; */
    flex-direction: row;
    align-items: center;

    
    gap: 100px;
}

.maintext{
    display: flex;
    width: 405px;
    max-height: 93px;
    border-left: 12px solid #F16D7F;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    /* margin-top: 290px; */
}

h1{
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
}

h2{
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
}

.hidden{
    display: none;
    
}

.menu_active__all {
    position: absolute;
    display: flex;
    width: 232px;
    height: 634px;
    top: 75px;
    right: 0px;
    background-color: white;
    /* margin-bottom: 125px; */
    /* margin-right: 50px; */
    flex-direction: column;
    gap: 20px;
    box-shadow: 6px 4px 35px 0px #00000036;

}

.menuheader {
    display: flex;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
}

.menutext{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color:#F16D7F;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* gap: 20px; */
}

.menulist{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 50px;
}

.boxtype1{
    width: 360px;
    height: 260px;
}
.boxtype15{
    width: 1140px;
    height: 180px;
}
.backgroundimg1{
    background-image: url(./img/Layer1.png);
    width: 100%;
    height: 100%;

}
.backgroundimg2{
    background-image: url(./img/Layer2.png);
    width: 100%;
    height: 100%;

}
.backgroundimg3{
    background-image: url(./img/Layer3.png);
    width: 100%;
    height: 100%;

}
.backgroundimg4{
    background-image: url(./img/Layer4.png);
    width: 100%;
    height: 100%;

}
.backgroundshade{
    background: #211616B2;
    width: 100%;
    height: 100%;
}
.boxtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.boxes1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 30px;
    margin-top: 60px;
    max-width: 1140px;
}

.smalltextbox{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}
.bigtextbox{
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    font-family: Lato;
}
.headerbottom{
    display: flex;
    flex-direction:column;
    align-items: center;
    
}
.bottom{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 95px;
}

.boxtype2{
    display: flex;
    background: #F8F8F8;
    flex-direction: column;
    width: 360px;
    height: 590px;
}

.imgtype2{
    width: 360px;
    height: 420px;
}

.img1{
    background-image: url(./img/i1.png);
}

.img2{
    background-image: url(./img/i2.png);
}

.img3{
    background-image: url(./img/i3.png);
}

.img4{
    background-image: url(./img/i4.png);
}

.img5{
    background-image: url(./img/i5.png);
}

.img6{
    background-image: url(./img/i6.png);
}

.imgtype2:hover .imgtype2_shade{
    display: flex;
    
}

.imgtype2_shade{
    display: none;
    justify-content: center;
    align-items: center;
    color: #F8F8F8;
    background-color: #211616B2;
    width: 360px;
    height: 420px;


}
.addtocartbtn{
    display: flex;
    flex-direction: row;
    border: 2px #F8F8F8 solid ;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.boxes2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 45px;
}

/* .imgtype2:hover {
    display: flex;
} */

.textboxtype2{
    display: flex;
    margin: 25px;
    flex-direction: column;
    /* justify-content: center; */
    gap: 15px;
}

.p1{
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;

}
.p2{
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: left;
    color: #5D5D5D;


}
.p3{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #F16D7F;


}

.btntext{
    display: flex;
    color: #F16D7F;
    font-size: 16px;
    font-family: Lato;
    border: #F16D7F solid;
    padding: 10px;
    margin-top: 50px;
    width: 212px;
    justify-content: center;
    
}

.btntext:hover{
    background-color: #F16D7F;
    color: #F1E4E6;
}

.bottom{
    max-width: 1140px;
}

.blacksection{
    width: 1600px;
    background-color: #222224;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 341px;
    margin-top: 50px;
}

.blackbox{
    width: 360px;
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FBFBFB ;
    justify-content: space-around;
}

.blackbox_header{
    font-family: Lato;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 23.95px;
    text-align: left;
}

.blackbox_text{
    font-family: Lato;
    font-size: 13.97px;
    font-weight: 400;
    line-height: 16.77px;
    text-align: center;
}

.bottomwhitesection{
    background-image: url(./img/Layer\ 41.png);
    width: 1600px;
    height: 450px;
    background-size: cover;
}



.bottomwhitesection_shade{
    background: #F4F4F4B2;
    /* opacity: 70%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 223px;
    width: 100%;
    height: 100%;
}

.quote{
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.bottomwhitesection__textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.left{
    width: 359.45px;
    height: 225px;
}

.right{
    width: 557px;
    height: 142px;
    gap: 20px;
}

.textsubscribe{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: center;

}


.Forma{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input{
    background-image: url(./img/Rounded\ Rectangle\ 5.png);
    height: 50px;
    width: 256px;
    text-align: left;
    padding-left: 30px;
    display: flex;
    
}

.btnsubscribe{
    background-image: url(./img/Rounded\ Rectangle\ 5\ copy.png);
    height: 50px;
    width: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackfooter{
    background-color: #222224;
    width: 1600px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 650px;
    

}

.blackfooter__logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.whitesquare{
    width: 31.45px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    background-size: contain ;
}

.whitesquare:hover{
    background-color: #F16D7F;
}

.whitesquare:hover .minilogo path {
    fill: #F1E4E6;
}

@media (min-width: 768px) and (max-width: 1439px) {
    .menu{
        width: 768px;
        gap: 425px;
    }

    

    .maincontainer{
        width: 768px;
        align-items: center;
        justify-content: center;
    }
    
    .man{
        width: 386px;
        height: 368px;
    }
    .maintext{
        width: 311px;
        height: 92px;
    }
    h1{
        font-family: Lato;
        font-size: 44px;
        font-weight: 900;
        line-height: 52.8px;
        text-align: left;

    }
    h2{
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: left;

    }

    .boxtype1{
        width: 232px;
        height: 167px;
    }

    .boxtype15{
        width: 735px;
        height: 116px;
    }
   
    .boxes1{
        width: 736px;
        gap:  20px;
    }

    .btntext{
        margin-bottom: 50px;
    }

    .blacksection{
        width: 768px;
        height: 610px;
        flex-direction: column;
    }

    .bottomwhitesection{
        width: 768px;
        height: 614px;
        
    }

    .bottomwhitesection_shade{
        flex-direction: column;
        gap: 40px;
    }

    .blackfooter{
        width: 768px;
        gap: 305px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .menu{
        width: 375px;
        height: 74px;
        gap: 200px;
    }

    .leftmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 111px;
    height: 38px;
    }

    .rightmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 32px; */
    }
    .menubtn3, .menubtn2, .menubtn1{
        width: 32px;
        height: 23px;
    }

    .menubtn4, .menubtn5{
        display: none;
    }

    .maincontainer{
        width: 375px;
        height: 363px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .man{
        width: 0px;
        height: 0px;
    }
    .maintext{
        width: 300px;
        height: 66px;
    }
    h1{
        font-family: Lato;
        font-size: 38px;
        font-weight: 900;
        line-height: 45.6px;
        text-align: left;


    }
    h2{
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }

    .boxtype1{
        width: 343px;
        height: 247px;
    }

    .boxtype15{
        width: 343.26px;
        height: 111px;
    }
   
    .boxes1{
        width: 343px;
        gap:  20px;
    }

    .btntext{
        margin-bottom: 50px;
    }

    .blacksection{
        width: 375px;
        height: 610px;
        flex-direction: column;
    }

    .bottomwhitesection{
        width: 375px;
        height: 550px;
        
    }

    .bottomwhitesection_shade{
        flex-direction: column;
        gap: 40px;
    }

    .blackfooter{
        width: 375px;
        height: 143px;
        flex-direction: column;
        gap: 50px;
    }

    .numbercart{
        display: none;
    }

    .right{
        width: 341px;
    }

    .textsubscribe{
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 21.45px;
        text-align: center;
    }
}


